@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #ddd;
    opacity: 0.8;
    background: linear-gradient(135deg, #e2e2e255 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(225deg, #e2e2e2 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #e2e2e255 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #e2e2e2 25%, #ddd 25%) 0px 0/ 20px 20px;
    font-family: "Ubuntu", sans-serif;
}

.logo {
    position: absolute;
}

.title {
    margin-top: 0;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main_container {
    box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
    width: 50vw;
    padding: 2em;
    background: white;
}

.recent_projects_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    max-height: 40vh;
    overflow-y: auto;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.recent_projects_items {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 7px;
    border: 1px solid black;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.recent_projects_items:hover {
    box-shadow: 0 10px 10px rgba(100, 100, 100, 0.5);
    transform: translateY(-5px);
}

.recent_projects_items a {
    text-decoration: none;
}


.recent_projects_items:hover a {
    text-decoration: underline;
}

.delete_button {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 17px;
    top: 0.7em;
    right: 1em;
}

.recent_projects_items:hover .delete_button {
    display: block;
}

.delete_button:hover {
    color: red;
}

.download_button {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
    top: 0.7em;
    left: 1em;
}

.recent_projects_items:hover .download_button {
    display: block;
}

.download_button:hover {
    color: rgb(70, 204, 82);
}

.recent_projects_items_title {
    text-align: center;
    max-width: 124px;
    margin: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.input_name {
    margin: 1em;
    margin-left: 0;
    width: calc(100% - 1em);
    transition: all 0.3s ease-in-out;
}

.new_project_container {
    margin-top: 0.7em;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 6px 9px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit_button {
    background: none;
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;
    stroke: 1px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    transition: color 0.2s, background 0.2s, border 0.2s;
}

.submit_button:hover {
    border: 2px solid #0275D8;
    background: #0275D8;
    color: white;
    cursor: pointer;
}

.test_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px;
}

.header__logo {
    display: flex;
}

.header__logo img:first-child {
    height: 2.5rem;
}

.header__logo img:last-child {
    height: 3rem;
}

.actions-list {
    display: flex;
    gap: 10px;
    padding: 0;
}

.actions-list li {
    list-style-type: none;
}

.actions-list li > * {
    font-size: 1.2rem;
}

.actions-list__tip {
    cursor: pointer;
}

main.labview_container {
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: space-between;
}

.machineList {
    overflow-y: auto;
    float: left;
    padding: 20px;
    border: 2px solid #000;
    background: #9996;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.labView {
    height: 100%;
    width: 60%;
    border: 2px solid #000;
    float: left;
    background-color: #e3e3e3;
    opacity: 0.8;
    background-image: linear-gradient(#a9a9a9 1px, transparent 1px),
    linear-gradient(to right, #a9a9a9 1px, #e3e3e3 1px);
    background-size: 20px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.machineList img,
.labView img {
    display: block;
    filter: drop-shadow(0 0 0.1rem black);
}

.machineList img {
    padding: 10px;
    width: 6.25em;
}

.machineList figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labView img {
    width: 5em;
    z-index: 10;
}

.configuration {
    width: 25%;
    border: 2px solid #000;
    overflow-y: auto;
}

.config-machine__button {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.config-machine{
    height:70vh;
    max-height: 70vh;
    overflow-y: auto;
}

.tabs_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.tabs_selector {
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.tabs_selector:first-child {
    border-right: 2px solid #000;
}

.config_active {
    background-color: #e3e3e3;
}

.config-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.config-info label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.interface-domain-inline {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 10px;
    border-top: #000000 1px solid;
}

.button-section {
    margin-top: 10px;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 10px;
}

/* REACT FLOW */

.react-flow__node {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
}

.react-flow__node:hover,
.react-flow__node-default.selectable:hover,
.react-flow__node-input.selectable:hover,
.react-flow__node-input.selected,
.react-flow__node-input.selected:hover,
.react-flow__node-output.selectable:hover,
.react-flow__node-default.selected,
.react-flow__node-default.selected:hover {
    box-shadow: none;
}

.react-flow__node-input .react-flow__handle,
.react-flow__node-default {
    background: none;
    border: none;
    max-width: fit-content;
}

.react-flow__handle {
    border: none;
    height: 8px;
    width: 8px;
    padding: 5px;
}

.react-flow__edge-path {
    stroke: #000000;
}

.react-flow__edge-textbg {
    background: black;
}


.modal-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
}

.modal-content form {
    border: 2px solid black;
    padding: 1em;
    width: 50vw;
    background: white;
}

.modal-content select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.modal-content button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.modal-content button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.filedetails {
    margin: 1em;
}

.separator {
    margin-bottom: 1.3em;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin: 1.4em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

input[type=text] {
    width: 100%;
    padding: 5px 7px;
    margin: 8px 0;
    box-sizing: border-box;
  }